
/*-------------
     COLORS 
---------------*/
 


/*-------------
    MS CONTAINER 
---------------*/
.ms-container {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.ms-row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}

.ms-col {
    width: 100%;
}


/*-------------
    HEADER 
---------------*/

header {
    height: 90px;
    width: 100%;
    background-color: #F8F9FA;
}

header .ms-container {
    height: 80%;
    width: 100%;
    display: flex;

}

header .ms-logo-box {
    width: 70px;
}

/*-------------
     CENTRAL BOX 
---------------*/
#central-box {
    height:calc(100vh - 90px) ;
}




/*-------------
     ASIDE 
---------------*/

aside {
    width: 70px;
    height:calc(100vh - 90px);
    background-color: #051E34;
    background-image:url(img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}


/*-------------
     MAIN 
---------------*/

main {
    background-color:#F8F9FA;
    height:calc(100vh - 90px);
    width: 100%;
    overflow-y: auto;
}